body {
    margin: 0px;
    padding: 0px;
    background-color: #1489B8;
    overflow-x: hidden;
}

#wrapper {
    width: 1000px;
    background-color: #F5E1D6;
    margin: auto;
    padding-bottom: 25px;
    border: 2px solid black;
    top: 20%;
}

header {
    background-color: #092834;
    text-align: center;
}

header img {
    object-fit: contain;
    width: 1000px;
    height: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    background-color: #092834;
}

nav ul {
    display: flex;
    margin: auto;
}

nav a {
    color:#E78F5F;
    font-size: 150%;
    text-decoration: none;
    padding-right: 30px;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}

nav a:hover {
    color: #1489B8;
}

h1 {
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 180%;
    font-style: normal;
    color: #092834;
}

h2, h3 {
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 200;
    font-style: normal;
    color: #092834;
}

article a {
    text-decoration: none;
}

p {
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    padding-left: 2%;
}

/* Index */
.welcome {
    display: flex;
    font-size: 125%;
    margin-top: -40px;
}

.indexart {
    margin-top: -50px;
    text-align: center;
}

.welcome #eventItems {
    text-align: center;
}

.welcome #eventItems ul li {
    color: #1489B8;
    border-top: 2px solid #092834;
    border-bottom: 2px solid #092834;
    margin-right: 35px;
    padding-bottom: 10px;
    float: left;
    margin-left: 100px;
    margin-bottom: 50px;
    list-style-type: none;
}

.truck {
    border: 2px solid black;
    margin-top: 20px;
}

/* menu */

#menuItems ul {
    list-style-type: none;
    color: #1489B8;
}

#menuItems ul li {
    border-top: 2px solid #092834;
    margin-right: 35px;
    padding-bottom: 10px;
}

#menuItems ul li p {
    text-align: center;
}

#menuItems ul li p:nth-child(3n){
    padding-bottom: 25px;
}

/* contact */
.contactp p:first-child {
    text-align: center;
}

.contactp p:nth-child(2) {
    text-align: center;
}

form {
    text-align: center;
}

.invalid {
    border: 1px solid red;
}

.message {
    padding-top: 20px;
}

#textbox {
    height: 150px;
    width: 500px;

}

#submit {
    margin-left: 20px;
}

/* admin */
.admin {
    display: flex;
    flex-wrap: wrap;
}

.admin ul {
    margin: 10px 10px;
    padding: 0;
}

.admin ul li {
    margin-left: 20px;
}

.editor1, .editor2 {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.editor1 p, .editor2 p {
    margin-top: 50px;
}

.editor2 h1 {
    padding-top: 20px;
    border-top: 2px solid #092834;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    padding-top: 20px;
}

footer p {
    padding-left: 0px;
}
