body {
    margin: 0px;
    padding: 0px;
    background-color: #1489B8;
}

#wrapper {
    width: 1000px;
    background-color: #F5E1D6;
    margin: auto;
    border: 2px solid black;
}

nav {
    display: flex;
    min-height: 40px;
    background-color: #092834;
}

nav ul {
    display: flex;
    margin: auto;
}

nav a {
    color:#E78F5F;
    font-size: 150%;
    text-decoration: none;
    padding-right: 30px;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}