body {
    margin: 0px;
    padding: 0px;
    background-color: #1489B8;
}

#wrapper {
    width: 1000px;
    background-color: #F5E1D6;
    margin: auto;
    padding-bottom: 25px;
    border: 2px solid black;
    top: 20%;
    overflow: hidden;
}

header {
    background-color: #092834;
    text-align: center;
}

header img {
    object-fit: contain;
    width: 1000px;
    height: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    background-color: #092834;
}

nav ul {
    display: flex;
    margin: auto;
}

nav a {
    color:#E78F5F;
    font-size: 150%;
    text-decoration: none;
    padding-right: 30px;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}

nav a:hover {
    color: #1489B8;
}

h1 {
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 180%;
    font-style: normal;
    color: #092834;
}

h2, h3 {
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 200;
    font-style: normal;
    color: #092834;
}

p {
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    padding-left: 2%;
}

.welcome {
    display: flex;
    font-size: 125%;
    margin-top: -40px;
}

.indexart {
    margin-top: -50px;
    text-align: center;
}

.one, .two {
    flex: 25%;
    padding: 50px;
}

.one {
    color: #1489B8;
}


.truck {
    border: 2px solid black;
}

.contactp p:first-child {
    text-align: center;
}

.contactp p:nth-child(2) {
    text-align: center;
}

form {
    text-align: center;
}

.message {
    padding-top: 20px;
}

#textbox {
    height: 150px;
    width: 500px;

}

#submit {
    margin-left: 20px;
}

footer {
    position: absolute;
    width: 100%;
    padding-top: 20px;
}

footer p {
    padding-left: 0px;
}